<div class="row">
    <div class="col-auto">
        <img [src]="data.url">
    </div>
    <div class="col margin-auto">
        <h3>{{ data.title }}</h3>
    </div>

    <div class="col-12 mt-2">
        <mat-chip-list>
            <mat-chip *ngFor="let chip of data.genres">
                {{ chip }}
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="col-12">
        {{ data.description }}
    </div>
</div>