// img {
//     height: 100px;
//     width: 100px;
//     border: 1px solid black;
//     border-radius: 999px;
// }

.example-header-image {
    background-size: cover;
}

.custom-row {
    background: -webkit-linear-gradient(bottom, #32124f, #46c4ff);
    padding: 1%;
}

.bg-white {
    background-color: white;
}