<div class="row" *ngIf="!hasRequestFailed; else refreshButton">
    <div class="col-12">

        <div class="row justify-content-center custom-row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4" *ngFor="let movie of movies">
                <mat-card style="cursor: pointer;" (click)="openDialog(movie)">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"
                            [ngStyle]="{'background-image': 'url('+movie.url+')'}"></div>
                        <mat-card-title> {{ movie.title }} </mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="height: 30vh; overflow: hidden;">
                        <p> {{ movie.description }} </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row justify-content-end bg-white">
            <div class="col-auto">
                <mat-paginator [length]="totalMovies" [pageIndex]="pageIndex-1" [pageSize]="10" hidePageSize
                    (page)="pageChanged($event)" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>

    </div>
</div>

<ng-template #refreshButton>
    <div class="row justify-content-center col-auto mt-5 text-center">
        <button mat-fab color="primary" (click)="getData()">
            <mat-icon>refresh</mat-icon>
        </button>
        <br>
        <h4> Refresh Data </h4>
    </div>
</ng-template>