.container {
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: none;
    padding: 0;
    overflow-x: hidden;
    background: -webkit-linear-gradient(bottom, #32124f, #46c4ff);
    background-repeat: no-repeat;
}