<div class="row justify-content-center height-100 align-content-center p-5">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <mat-card class="example-card text-center">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="loginForm">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput formControlName="username">
                                <mat-error *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')">
                                    Username is required.
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password">
                                <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
                                    Password is required.
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-auto mt-2">
                            <button mat-raised-button [disabled]="loginForm.invalid" (click)="submit()" color="primary">Submit</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>