<div class="header">
    <h3>Welcome <span *ngIf="username != ''">{{ username }}</span></h3>
    <button mat-icon-button color="dark" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</div>
<router-outlet></router-outlet>